body{
    background-color: #e7f8f5;
    margin: 0;
}



.szoveg1{
    z-index: 10;
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    text-align: left;
    font-family: arial;
    font-weight: bolder;
    font-size: 20px;
    background-color: grey;
}


.logo{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: auto;
    width: 20%;
    height: 20%;
}

.gombok{
    display: block;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: auto;

}

button{
    color: #e7f8f5;
    margin-right: 30px;
    font-size: 20px;
    background-color: rgb(73, 94, 87);
    border-radius: 30px;
    border: none;
    outline: none;
    font-family:arial;
    box-shadow: 1px 1px 7px rgb(78, 78, 78);
    cursor: pointer;
    height: 60px;
    width: 190px;
    transition: 0.5s;
}

button:hover{
    background-color: rgb(31, 31, 31);
    transition: 0.5s;
    box-shadow: 1px 1px 17px rgb(78, 78, 78); 
}

.hatter{
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.keptarto{
    position: relative;
}

.overkep{
    text-align: center;
    position: absolute;
    top:90%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: rgb(73, 94, 87);
    border-radius: 10px; 
    color: #e7f8f5;
    padding: 20px;
    box-shadow: 1px 1px 17px rgb(78, 78, 78);
    animation: fadeIn 1s ease-in-out;
}

.ajanlat{
    display: block;
    margin-top: auto;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
    text-shadow: 1px 1px 10px rgb(78, 78, 78);
}

.gulyas{
    margin-left: 0%;
    width: 100%;
    border-radius: 10px;
}

.bevezeto{
    margin-top: 3%;
    margin-left: 10%;
    font-family: Arial;
    font-size: 20px;
    text-shadow: 1px 1px 10px rgb(78, 78, 78);
    color: rgb(73, 94, 87);
    animation: fadeIn 1s ease-in-out;
    text-align: left;
}

@keyframes fadeIn {
    from {scale: .8; opacity: 0; }
    to {scale: 1; opacity: 1; }
  }

#etlap{
    display: flex;
    background-color: grey;
    margin-top: 5%;
    height: 150px;
    font-size: 60px;
    color: #e7f8f5;
    text-shadow: 1px 1px 10px rgb(78, 78, 78);
    
}

@keyframes fadeIn2 {
    to {scale: 1; opacity: 1;}
}
#szoveg2{
    font-family: Arial;
    display: block;
    margin-top: 2.5%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(73, 94, 87);
    width: 100%;
    text-align: center;
    color: #e7f8f5;
    box-shadow: 1px 1px 17px rgb(78, 78, 78);
    animation: fadeIn2 linear forwards;
    scale: .8; opacity: 0;
    animation-timeline: view();
    animation-range: 100px 500px;
}

.etlap{
    background-image: url(https://drive.google.com/thumbnail?id=1qx45dIsWlpWkF7R0dOIndAR1BTpLDPSr);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: #e7f8f5;
}

.etlaptabla{
    background-image: url(https://drive.google.com/thumbnail?id=1inaHARsCMLX_SVUruNtl6GTPy3Sdbc7y);
    text-align: center;
    color: #e7f8f5;
    font-family: cursive;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    animation: fadeIn2 linear forwards;
    scale: .8; opacity: 0;
    animation-timeline: view();
    animation-range: 100px 500px;
    color: #e7f8f5;
    text-shadow: 1px 1px 17px rgb(78, 78, 78);
    margin-top: 3%;
    margin-bottom: 3%;
    border: solid 3px;
    border-radius: 10px;
    
}

#sor{
    height: 110px;
}

.foglalas{
    display: flex;
    background-color: grey;
    height: 150px;
    font-size: 60px;
    color: #e7f8f5;
    text-shadow: 1px 1px 10px rgb(78, 78, 78);
}

.szoveg3{
    font-family: Arial;
    display: block;
    margin-top: 2.5%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(73, 94, 87);
    width: 100%;
    text-align: center;
    color: #e7f8f5;
    box-shadow: 1px 1px 17px rgb(78, 78, 78);
    animation: fadeIn2 linear forwards;
    scale: .8; opacity: 0;
    animation-timeline: view();
    animation-range: 100px 500px;
}

.adatok{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
    margin-top: 5%;
    display: block;
    margin-left: 23%;
    margin-right: 23%;
    height: 600px;
    text-align: center;
    border: solid 5px rgb(73, 94, 87);
    border-radius: 10px;
    animation: fadeIn2 linear forwards;
    scale: .8; opacity: 0;
    animation-timeline: view();
    animation-range: 100px 500px;
    background-color: grey;
    color: #e7f8f5;
    margin-bottom: 5%;
}

#bemenet1{
    border: solid 5px rgb(73, 94, 87);
    font-size: 30px;
    margin-left: 2%;
    margin-top: 4%;
    text-align: left;
    border-radius: 10px;
}

#bemenet2{
    border: solid 5px rgb(73, 94, 87);
    font-size: 30px;
    margin-left: 2%;
    margin-top: 4%;
    text-align: left;
    border-radius: 10px;
}

#bemenet3{
    border: solid 5px rgb(73, 94, 87);
    font-size: 30px;
    margin-left: 2%;
    margin-top: 4%;
    text-align: left;
    border-radius: 10px;
}

#bemenet4{
    border: solid 5px rgb(73, 94, 87);
    font-size: 30px;
    margin-left: 2%;
    margin-top: 4%;
    text-align: left;
    border-radius: 10px;
}

.gomb3{
    margin-top: 2%;
}

.jogok{
    display: flex;
    background-color: grey;
    height: 100px;
    font-size: 20px;
    color: #e7f8f5;
    text-shadow: 1px 1px 10px rgb(78, 78, 78);
}

.szoveg4{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}